<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Produtos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Itera sobre a lista de produtos -->
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.nome}"></td>
                <td>
                    <a th:href="@{/produtos/editar/{id}(id=${produto.id})}" class="btn btn-primary">Editar</a>
                    <a th:href="@{/produtos/{id}/excluir(id=${produto.id})}" class="btn btn-danger" 
                       onclick="return confirm('Tem certeza que deseja excluir este produto?');">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/produtos/novo" class="btn btn-success">Novo Produto</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
