<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav th:insert="fragments/menu :: nav"></nav>
    <div class="container">
        <h1 class="my-4">Vendas</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Data da Compra</th>
                    <th>Quantidade</th>
                    <th>Enviada</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="venda : ${vendas}">
                    <td th:text="${venda.cliente.nomeCompleto}"></td>
                    <td th:text="${#temporals.format(venda.dataCompra, 'dd/MM/yyyy')}"></td>
                    <td>
                        <div th:each="pq : ${venda.produtos}">
                            <p th:text="${pq.quantidade} + ' ' + ${pq.produto.nome}"></p>
                        </div>
                    </td>
                    <td th:text="${venda.enviada ? 'Sim' : 'Não'}"></td>
                    <td>
                        <a th:href="@{/vendas/{id}(id=${venda.id})}" class="btn btn-info">Ver Detalhes</a>
                    </td>
                </tr>
            </tbody>   
        </table>
        
        <a href="/vendas/nova" class="btn btn-primary">Nova Venda</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
